<a href="https://colab.research.google.com/github/ucfilho/ANN/blob/master/ANN_2022/text_classification/text_classification_v4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
       

text2category=["kolkata big city india trade","mumbai financial capital india","delhi capital india k kk",
               "kolkata capital colonial times","bangalore tech hub india software","mumbai hub trade commerce stock exchange",
               "kolkata victoria memorial","delhi india gate","mumbai gate way india trade business",
               "poor bellow sky fly kk kkk kkk kkkk","last fast loop choice","meal deal real few kk kkk kkk kkkk",
               "cat rat bat owl meal deal real few"]
category_labels =["a","b","c",
                   "d","e","f",
                   "g","h","i",
                  'j','k','m',
                  'n']
w =[]
text2classify =["delhi red fort india","kolkata metro oldest india", "delhi metro largest metro network india","poor bellow sky fly"]
for i in text2classify:
  for j in  i.split():
    w.append(j)
print(w)

t = "last fast choice".split()  # remember the split inside if was the case
u = "meal deal real few".split()
r = "cat rat bat owl meal deal real few".split()
s ="cat rat bat owl".split()
z ="kk kkk kkk kkkk".split()

['delhi', 'red', 'fort', 'india', 'kolkata', 'metro', 'oldest', 'india', 'delhi', 'metro', 'largest', 'metro', 'network', 'india', 'poor', 'bellow', 'sky', 'fly']

In [3]:
df = pd.DataFrame({'text2category':text2category,'category_labels':category_labels})
df

                               text2category category_labels
0               kolkata big city india trade               a
1             mumbai financial capital india               b
2                   delhi capital india k kk               c
3             kolkata capital colonial times               d
4          bangalore tech hub india software               e
5   mumbai hub trade commerce stock exchange               f
6                  kolkata victoria memorial               g
7                           delhi india gate               h
8       mumbai gate way india trade business               i
9        poor bellow sky fly kk kkk kkk kkkk               j
10                     last fast loop choice               k
11        meal deal real few kk kkk kkk kkkk               m
12        cat rat bat owl meal deal real few               n

In [4]:
list_02 =[]
for i in text2category:
  list_01 = []
  for j in i.split():
    list_01.append(j)
  list_02.append(list_01)
df_new = pd.DataFrame({'text2category':list_02,'category_labels':category_labels})
df_new

                                      text2category category_labels
0                [kolkata, big, city, india, trade]               a
1               [mumbai, financial, capital, india]               b
2                    [delhi, capital, india, k, kk]               c
3               [kolkata, capital, colonial, times]               d
4           [bangalore, tech, hub, india, software]               e
5   [mumbai, hub, trade, commerce, stock, exchange]               f
6                     [kolkata, victoria, memorial]               g
7                              [delhi, india, gate]               h
8       [mumbai, gate, way, india, trade, business]               i
9      [poor, bellow, sky, fly, kk, kkk, kkk, kkkk]               j
10                       [last, fast, loop, choice]               k
11      [meal, deal, real, few, kk, kkk, kkk, kkkk]               m
12      [cat, rat, bat, owl, meal, deal, real, few]               n

In [5]:
t = "last fast choice".split()  # remember the split inside if was the case
u = "meal deal real few".split()
r = "cat rat bat owl meal deal real few".split()
s ="cat rat bat owl".split()
z ="kk kkk kkk kkkk".split()
list_03 =[t,u,r,s,z]
names =['t','u','r','s','z']
df_classify = pd.DataFrame({'text info':list_03,'names':names})
df_classify

                                     text info names
0                         [last, fast, choice]     t
1                      [meal, deal, real, few]     u
2  [cat, rat, bat, owl, meal, deal, real, few]     r
3                         [cat, rat, bat, owl]     s
4                         [kk, kkk, kkk, kkkk]     z

In [6]:
def CountTextDF_test(df_new,df_classify):
  text2category= df_new['text2category'].values
  category_labels = df_new['category_labels'].values
  w = df_classify['text info'].values
  
  common_list =[]
  #name =[]
  for j in w:
    max_count, k, name  = 0, 0, 'none'
    print('-'*88)
    print(j)
    print('*'*88)
    for i in text2category:
      print(i,category_labels[k])
      common_number = len(set(i).intersection(j))
      if( common_number > max_count):
        max_count = common_number
        name=category_labels[k]
      k += 1
    common_list.append([name, max_count])
  return common_list
  #print(word_count)

In [7]:
CountTextDF_test(df_new,df_classify)

----------------------------------------------------------------------------------------
['last', 'fast', 'choice']
****************************************************************************************
['kolkata', 'big', 'city', 'india', 'trade'] a
['mumbai', 'financial', 'capital', 'india'] b
['delhi', 'capital', 'india', 'k', 'kk'] c
['kolkata', 'capital', 'colonial', 'times'] d
['bangalore', 'tech', 'hub', 'india', 'software'] e
['mumbai', 'hub', 'trade', 'commerce', 'stock', 'exchange'] f
['kolkata', 'victoria', 'memorial'] g
['delhi', 'india', 'gate'] h
['mumbai', 'gate', 'way', 'india', 'trade', 'business'] i
['poor', 'bellow', 'sky', 'fly', 'kk', 'kkk', 'kkk', 'kkkk'] j
['last', 'fast', 'loop', 'choice'] k
['meal', 'deal', 'real', 'few', 'kk', 'kkk', 'kkk', 'kkkk'] m
['cat', 'rat', 'bat', 'owl', 'meal', 'deal', 'real', 'few'] n
----------------------------------------------------------------------------------------
['meal', 'deal', 'real', 'few']
****************************************************************************************
['kolkata', 'big', 'city', 'india', 'trade'] a
['mumbai', 'financial', 'capital', 'india'] b
['delhi', 'capital', 'india', 'k', 'kk'] c
['kolkata', 'capital', 'colonial', 'times'] d
['bangalore', 'tech', 'hub', 'india', 'software'] e
['mumbai', 'hub', 'trade', 'commerce', 'stock', 'exchange'] f
['kolkata', 'victoria', 'memorial'] g
['delhi', 'india', 'gate'] h
['mumbai', 'gate', 'way', 'india', 'trade', 'business'] i
['poor', 'bellow', 'sky', 'fly', 'kk', 'kkk', 'kkk', 'kkkk'] j
['last', 'fast', 'loop', 'choice'] k
['meal', 'deal', 'real', 'few', 'kk', 'kkk', 'kkk', 'kkkk'] m
['cat', 'rat', 'bat', 'owl', 'meal', 'deal', 'real', 'few'] n
----------------------------------------------------------------------------------------
['cat', 'rat', 'bat', 'owl', 'meal', 'deal', 'real', 'few']
****************************************************************************************
['kolkata', 'big', 'city', 'india', 'trade'] a
['mumbai', 'financial', 'capital', 'india'] b
['delhi', 'capital', 'india', 'k', 'kk'] c
['kolkata', 'capital', 'colonial', 'times'] d
['bangalore', 'tech', 'hub', 'india', 'software'] e
['mumbai', 'hub', 'trade', 'commerce', 'stock', 'exchange'] f
['kolkata', 'victoria', 'memorial'] g
['delhi', 'india', 'gate'] h
['mumbai', 'gate', 'way', 'india', 'trade', 'business'] i
['poor', 'bellow', 'sky', 'fly', 'kk', 'kkk', 'kkk', 'kkkk'] j
['last', 'fast', 'loop', 'choice'] k
['meal', 'deal', 'real', 'few', 'kk', 'kkk', 'kkk', 'kkkk'] m
['cat', 'rat', 'bat', 'owl', 'meal', 'deal', 'real', 'few'] n
----------------------------------------------------------------------------------------
['cat', 'rat', 'bat', 'owl']
****************************************************************************************
['kolkata', 'big', 'city', 'india', 'trade'] a
['mumbai', 'financial', 'capital', 'india'] b
['delhi', 'capital', 'india', 'k', 'kk'] c
['kolkata', 'capital', 'colonial', 'times'] d
['bangalore', 'tech', 'hub', 'india', 'software'] e
['mumbai', 'hub', 'trade', 'commerce', 'stock', 'exchange'] f
['kolkata', 'victoria', 'memorial'] g
['delhi', 'india', 'gate'] h
['mumbai', 'gate', 'way', 'india', 'trade', 'business'] i
['poor', 'bellow', 'sky', 'fly', 'kk', 'kkk', 'kkk', 'kkkk'] j
['last', 'fast', 'loop', 'choice'] k
['meal', 'deal', 'real', 'few', 'kk', 'kkk', 'kkk', 'kkkk'] m
['cat', 'rat', 'bat', 'owl', 'meal', 'deal', 'real', 'few'] n
----------------------------------------------------------------------------------------
['kk', 'kkk', 'kkk', 'kkkk']
****************************************************************************************
['kolkata', 'big', 'city', 'india', 'trade'] a
['mumbai', 'financial', 'capital', 'india'] b
['delhi', 'capital', 'india', 'k', 'kk'] c
['kolkata', 'capital', 'colonial', 'times'] d
['bangalore', 'tech', 'hub', 'india', 'software'] e
['mumbai', 'hub', 'trade', 'commerce', 'stock', 'exchange'] f
['kolkata', 'victoria', 'memorial'] g
['delhi', 'india', 'gate'] h
['mumbai', 'gate', 'way', 'india', 'trade', 'business'] i
['poor', 'bellow', 'sky', 'fly', 'kk', 'kkk', 'kkk', 'kkkk'] j
['last', 'fast', 'loop', 'choice'] k
['meal', 'deal', 'real', 'few', 'kk', 'kkk', 'kkk', 'kkkk'] m
['cat', 'rat', 'bat', 'owl', 'meal', 'deal', 'real', 'few'] n

[['k', 3], ['m', 4], ['n', 8], ['n', 4], ['j', 3]]

In [8]:
def CountTextDFfirst(df_new,df_classify):
  text2category= df_new['text2category'].values
  category_labels = df_new['category_labels'].values
  w = df_classify['text info'].values
  
  common_list =[]

  for j in w:
    max_count, k, name  = 0, 0, 'none'
    for i in text2category:
      common_number = len(set(i).intersection(j))
      if( common_number > max_count):
        max_count = common_number
        name=category_labels[k]
      k += 1
    common_list.append([name, max_count])
  return common_list

In [9]:
CountTextDFfirst(df_new,df_classify)

[['k', 3], ['m', 4], ['n', 8], ['n', 4], ['j', 3]]

In [10]:
def CountTextDFsample(df_new,df_classify,sample):
  # sample: max number to select
  text2category= df_new['text2category'].values
  category_labels = df_new['category_labels'].values
  w = df_classify['text info'].values
  
  common_list =[]
  idx = 0
  for j in w:
    list_01 =[]
    k, name  = 0, 'none'
    for i in text2category:
      common_number = len(set(i).intersection(j))
      name=category_labels[k]
      k += 1
      list_01.append([common_number,name ])
    
    idx, list_02 = 0, []
    list_01.sort(reverse=True)
    print(list_01)
    for k in list_01:
      if(idx < sample):
        list_02.append(k)
      idx += 1

    common_list.append(list_02)
    
    
  return common_list

In [11]:
sample = 3
lista = CountTextDFsample(df_new,df_classify,sample)

[[3, 'k'], [0, 'n'], [0, 'm'], [0, 'j'], [0, 'i'], [0, 'h'], [0, 'g'], [0, 'f'], [0, 'e'], [0, 'd'], [0, 'c'], [0, 'b'], [0, 'a']]
[[4, 'n'], [4, 'm'], [0, 'k'], [0, 'j'], [0, 'i'], [0, 'h'], [0, 'g'], [0, 'f'], [0, 'e'], [0, 'd'], [0, 'c'], [0, 'b'], [0, 'a']]
[[8, 'n'], [4, 'm'], [0, 'k'], [0, 'j'], [0, 'i'], [0, 'h'], [0, 'g'], [0, 'f'], [0, 'e'], [0, 'd'], [0, 'c'], [0, 'b'], [0, 'a']]
[[4, 'n'], [0, 'm'], [0, 'k'], [0, 'j'], [0, 'i'], [0, 'h'], [0, 'g'], [0, 'f'], [0, 'e'], [0, 'd'], [0, 'c'], [0, 'b'], [0, 'a']]
[[3, 'm'], [3, 'j'], [1, 'c'], [0, 'n'], [0, 'k'], [0, 'i'], [0, 'h'], [0, 'g'], [0, 'f'], [0, 'e'], [0, 'd'], [0, 'b'], [0, 'a']]

In [12]:
print(lista)

[[[3, 'k'], [0, 'n'], [0, 'm']], [[4, 'n'], [4, 'm'], [0, 'k']], [[8, 'n'], [4, 'm'], [0, 'k']], [[4, 'n'], [0, 'm'], [0, 'k']], [[3, 'm'], [3, 'j'], [1, 'c']]]